body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    align-items: center;
    top: -6%;
    right: 51px;
}
header div{
    padding-left: 102px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
.pass{
    position: relative;;
}
.pass2{
    position: relative;;
}
.toggle-password {
    z-index: 100;
    position: absolute;
    top: 54.5%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #888;
}
.toggle-password2 {
    z-index: 100;
    position: absolute;
    top: 54.5%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #888;
}